################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThuocGiaThatAdmin/ThuocGiaThatAdmin.Server/.config/dotnet-tools.json
/.vs/HoangGiangPhamacyAdmin.slnx/FileContentIndex
/.vs/HoangGiangPhamacyAdmin.slnx/v18/.wsuo
/.vs/HoangGiangPhamacyAdmin.slnx/v18/DocumentLayout.backup.json
/.vs/HoangGiangPhamacyAdmin.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/ThuocGiaThatAdmin/ThuocGiaThatAdmin.Server/appsettings.Development.json
/ThuocGiaThatAdmin/ThuocGiaThatAdmin.Server/appsettings.json
/ThuocGiaThatAdmin/ThuocGiaThatAdmin.Server/appsettings.Development.json
/ThuocGiaThatAdmin/ThuocGiaThatAdmin.Server/appsettings.json
/.vscode/launch.json
/.vscode/tasks.json
/ThuocGiaThatAdmin/ThuocGiaThatAdmin.Server/appsettings.Development.json
/ThuocGiaThatAdmin/ThuocGiaThatAdmin.Server/Properties/launchSettings.json
/ThuocGiaThatAdmin/ThuocGiaThatAdmin.Server/Properties/launchSettings.json
